<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Priyanshi Somani</a>
  <button (click) = "navToggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngClass]="isSideNavOpen ? 'open-menu bg-dark' : ''" class="collapse navbar-collapse justify-content-lg-end flex-lg-row d-flex flex-column menu-mobile" id="navbarSupportedContent">
    
    <div class="form-inline my-2 my-lg-0">
         <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a (click) = "navToggle()" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a (click) = "navToggle()" class="nav-link" href="#">Portfolio <span class="sr-only">(current)</span></a>
      </li>
      
       <li class="nav-item active">
        <a (click) = "navToggle()" class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a (click) = "navToggle()" class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
      </li>
    </ul> 
    </div>
  </div>
</nav>
