@media only screen and (min-width: 768px) and (max-width: 991px) {

    .menu-mobile{
        position: fixed;
        top: 0;
        bottom:0;
        left:0;
        margin: auto;
        transform: translateX(-100%);
        transition: all ease 0.7s;

    }  

    .open-menu{
        width: 30%;
        transform: translateX(0);
    }  
}

@media only screen and (min-width: 300px) and (max-width: 767px) {

    .menu-mobile{
        position: fixed;
        top: 0;
        bottom:0;
        left:0;
        margin: auto;
        transform: translateX(-100%);
        transition: all ease 0.7s;

    }  

    .open-menu{
        width: 100%;
        transform: translateX(0);
    }  
}